@keyframes fadeOut {
    from {
      opacity: 1; 
    }
    to {
      opacity: 0;
    }
  }

  .fadeOut {
    animation: fadeOut 0.3s ease forwards; 
  }

  @keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    }
  }

  .fadeIn {
    animation: fadeIn 1s ease forwards; 
  }

  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-40px); /* Desplazamiento hacia arriba */
    }
  }

.ocultar{
  display: none;
}