@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;  
    padding: 0;
    font-family: 'Poppins';
}
.contenedor-principal{
    display: flex;
    width: 100%;
    position: relative;
    background-color: #ffffff;

}
.nav{
    height: 100vh;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    position: fixed;
    background-color: rgb(47, 47, 47);
    overflow: auto;
}
.div-foto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto{
    padding: 10px;
    width: 200px;
    border-radius: 10%;
}

.contenedor{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: calc(100% - 350px);
    height: 100vh;
    position: absolute;
    font-size: 100px;
    font-weight: 500;
    margin-left: 250px;
    padding-bottom: 100px;
}

.blur{
    filter: blur(4px);
}

#menu-superior{
   display: none;
}
#icono-nav-responsive{
    display: none;
}

@media screen and (max-width: 1300px) {
    .nav-cerrado{
        width: 0px;
        transition: 0.5s ease;
        top: 0;
        z-index: 1;
    }
    .esconder{
      
    }
    .nav-abierto{
        width: 250px;
        top: 0;
        z-index: 1;
        transition: 0.5s ease;
     
    }
    #icono-nav-responsive{
        display: flex;
        height: 40px;
        width: 100%;
        background-color: rgb(47, 47, 47);
        color: #fefefe;
        justify-content: end;

    }
    #icono-nav-responsive:hover{
        cursor:pointer;
    }
    .contenedor{
        width: 95%;
        margin: 0px;
        padding: 10px 10px 0px 10px;
    }
    #menu-superior{
        display: flex;
        width: 100%;
        background-color: rgb(47, 47, 47);
        height: 40px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
        color: #fefefe;

    }
    #menu-superior svg:hover{
       cursor: pointer;
    }
  }
